@model CarrinhoCompraViewModel 

<div class="container">
<div class="row">

    <img src="~/images/WhatsApp Image 2025-09-09 at 19.22.21.jpeg" />

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">subtotal</th>
            </tr>
        </thead>

        <tbody>
                @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Lanche.Nome</td>
                        <td class="text-right">@item.Lanche.Preco.ToString("c")</td>

                        <td class="text-right">
                            @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                        </td>

                        <td class="text-center">
                            <a asp-controllet = "CarrinhoCompra" asp-action = "RemoverItemDoCarrinhoCompra"
                                asp-route-lancheIde = "@item.Lanche.LancheId"><img src="~/images/WhatsApp Image 2025-09-09 at 19.39.26.jpeg"/>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CarrinhoCompraTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar pedido</a>
                &nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
        </div>

    </div>

</div>
</div>
